.root {
    -fx-background-color: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
}

.titulo {
    -fx-text-fill: white;
    -fx-font-size: 26;
    -fx-padding: 20;
}

.panel {
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-padding: 20;
    -fx-background-radius: 20;
}

.label {
    -fx-text-fill: #cccccc;
    -fx-font-size: 14;
}

.valor {
    -fx-text-fill: #00ffcc;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.text-area {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
}

/* BOTONES */

.btn-azul {
    -fx-background-color: #2F91ED;
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-pref-width: 140;
}

.btn-azul:hover {
    -fx-background-color: #5aa9ff;
}

.btn-verde {
    -fx-background-color: #22c55e;
    -fx-text-fill: white;
    -fx-background-radius: 15;
}

.btn-verde:hover {
    -fx-background-color: #4ade80;
}

.btn-rojo {
    -fx-background-color: #dc2626;
    -fx-text-fill: white;
    -fx-background-radius: 15;
}

.btn-rojo:hover {
    -fx-background-color: #ef4444;
}
.ranking-label {

    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;

    -fx-background-color: #102531;

    -fx-padding: 20;

    -fx-border-color: #00d9ff;
    -fx-border-width: 2;

    -fx-background-radius: 12;
    -fx-border-radius: 12;

    -fx-alignment: center;
}