.root {

    -fx-background-color:
        linear-gradient(to bottom,
        #08131d,
        #10344d,
        #0f5c78);
}

.panel-victoria {

    -fx-background-color: rgba(8,20,30,0.90);

    -fx-background-radius: 30;
    -fx-border-radius: 30;

    -fx-border-color: #5be7ff;
    -fx-border-width: 4;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.6),
        25,
        0.3,
        0,
        8
    );
}

.titulo-victoria {

    -fx-fill: #5be7ff;

    -fx-font-size: 52px;
    -fx-font-weight: bold;
}

.mensaje-victoria {

    -fx-fill: white;

    -fx-font-size: 24px;
    -fx-font-style: italic;
}

.ganador-text {

    -fx-fill: #ffe066;

    -fx-font-size: 34px;
    -fx-font-weight: bold;
}

.puntuacion-text {

    -fx-fill: white;

    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.boton-menu {

    -fx-background-color:
        linear-gradient(to bottom,
        #2bd9ff,
        #00a8d6);

    -fx-text-fill: white;

    -fx-font-size: 22px;
    -fx-font-weight: bold;

    -fx-background-radius: 18;

    -fx-padding: 14 28 14 28;
}

.boton-menu:hover {

    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;

    -fx-cursor: hand;
}